@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-midnight-500: #242542;
}

.login {
  @apply justify-self-center rounded-md  bg-white invalid:border-pink-500 
  invalid:text-pink-600 focus:border-sky-500 focus:outline focus:outline-sky-500 focus:bg-white
  focus:invalid:border-pink-500 focus:invalid:outline-pink-500 disabled:border-blue-200 
  disabled:bg-gray-300 disabled:text-gray-500 disabled:shadow-none dark:disabled:border-gray-700 
  dark:disabled:bg-white;
}

* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
}
